$yellow: rgba(255, 204, 0, .8);

body.home.page-template-default {
	overflow-x: hidden; // prevent horizontal scrollbar
	overflow-y: scroll; // allow vertical scrollbar

	// full-width calculations to let huge-title break out of parent width restrictions
	.full-width {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
	}

}

.generic-divider {
	background: #000000;
	padding: 100px 0;
	overflow: auto;
	margin: 50px 0;

	.generic-cta {
		font-size: 68px;
		width: 65%;
		padding: 1%;
		color: white;
		margin-right: 50px;
		display: block;
		letter-spacing: -5px;
		background: rgba(0, 0, 0, .8);
		float: left;
	}

	.large-button {
		display: block;
		background: $yellow;
		width: 300px;
		color: #000000;
		text-decoration: none;
		padding: 26px;
		float: left;
		font-size: 28px;
		text-align: center;
		cursor: pointer;
	}
}